body {
  background: rgb(250, 197, 98);
}

h1,
p {
  text-align: center;
  color: rgb(107, 75, 7);
}
.croissant-photo {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}

footer {
  text-align: center;
}

footer a {
  margin: 0 10px;
  color: rgb(107, 75, 7);
}
